* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 1rem;
  background-color: #4facfe;
}

.chessboard {
  width: 80vh;
  height: 80vh;
  margin: auto;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 29%);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.tile {
  background-color: #f0f0f0;
}

.tile:nth-child(16n + 2),
.tile:nth-child(16n + 4),
.tile:nth-child(16n + 6),
.tile:nth-child(16n + 8),
.tile:nth-child(16n + 9),
.tile:nth-child(16n + 11),
.tile:nth-child(16n + 13),
.tile:nth-child(16n + 15) {
  background-image: linear-gradient(#7dc2ff, #4facfe);
}

/* PIECES */
.tile::before {
  font-size: 8vh;
  display: block;
  text-align: center;
  position: relative;
}

.tile:nth-child(n + 9):nth-child(-n + 16)::before,
.tile:nth-child(1)::before,
.tile:nth-child(8)::before,
.tile:nth-child(2)::before,
.tile:nth-child(7)::before,
.tile:nth-child(3)::before,
.tile:nth-child(6)::before,
.tile:nth-child(4)::before,
.tile:nth-child(5)::before {
  color: white;
  -webkit-text-stroke: 1px black;
}

/* PAWN */
.tile:nth-child(n + 9):nth-child(-n + 16)::before,
.tile:nth-child(n + 49):nth-child(-n + 56)::before {
  content: '♟';
}

/* ROOK */
.tile:nth-child(1)::before,
.tile:nth-child(8)::before,
.tile:nth-child(57)::before,
.tile:nth-child(64)::before {
  content: '♜';
}

/* KNIGHT */
.tile:nth-child(2)::before,
.tile:nth-child(7)::before,
.tile:nth-child(58)::before,
.tile:nth-child(63)::before {
  content: '♞';
}

/* BISHOP */
.tile:nth-child(3)::before,
.tile:nth-child(6)::before,
.tile:nth-child(59)::before,
.tile:nth-child(62)::before {
  content: '♝';
}

/* QUEEN */
.tile:nth-child(4)::before,
.tile:nth-child(60)::before {
  content: '♛';
}

/* KING */
.tile:nth-child(5)::before,
.tile:nth-child(61)::before {
  content: '♚';
}

/* ANIMATION */
.tile:nth-child(13)::before {
  animation: 3s whitePawnDown 3s both, 3s whiteEat 9s both;
}

.tile:nth-child(52)::before {
  animation: 3s blackPawnUp 6s both, 1s blackEaten 10.5s both;
}

@keyframes whitePawnDown {
  from {
    top: 0;
  }
  to {
    transform: translate(0, 20vh);
  }
}

@keyframes blackPawnUp {
  from {
    top: 0;
  }
  to {
    transform: translate(0, -20vh);
  }
}

@keyframes whiteEat {
  from {
    top: 0;
  }
  to {
    transform: translate(-10vh, 30vh);
  }
}

@keyframes blackEaten {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (orientation: portrait) {
  body {
    padding: 0;
    padding-top: 1rem;
  }
  .chessboard {
    width: 80vw;
    height: 50vh;
  }

  .tile::before {
    font-size: 5vh;
  }

  @keyframes whitePawnDown {
    from {
      top: 0;
    }
    to {
      transform: translate(0, 12.5vh);
    }
  }

  @keyframes blackPawnUp {
    from {
      top: 0;
    }
    to {
      transform: translate(0, -12.5vh);
    }
  }

  @keyframes whiteEat {
    from {
      top: 0;
    }
    to {
      transform: translate(-6.25vh, 18.75vh);
    }
  }
}
